<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>      
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,
          [*Tests]*
          </Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByFile>
          **/test/**/*.cs
          ,**/src/PointsServer.Application.Contracts/**/*.cs
          ,**/src/PointsServer.Domain/**/*.cs
          ,**/src/PointsServer.AuthServer/**/*.cs
          ,**/src/PointsServer.AuthServer/Pages/Index.cshtml
          ,**/src/PointsServer.AuthServer/**
          ,**/src/PointsServer.CoinGeckoApi/**/*.cs
          ,**/src/PointsServer.ContractEventHandler/**/*.cs
          ,**/src/PointsServer.ContractEventHandler.Core/**/*.cs
          ,**/src/PointsServer.DbMigrator/**/*.cs
          ,**/src/PointsServer.EntityEventHandler/**/*.cs
          ,**/src/PointsServer.EntityHandler.Core/**/*.cs
          ,**/src/PointsServer.HttpApi/**/*.cs
          ,**/src/PointsServer.HttpApi.Client/**/*.cs
          ,**/src/PointsServer.HttpApi.Host/**/*.cs
          ,**/src/PointsServer.MongoDB/**/*.cs
          ,**/src/PointsServer.Silo/**/*.cs
          ,**/src/PointsServer.Worker/**/*.cs
          ,**/src/PointsServer.Application/Common/GraphQLHelper.cs
          ,**/src/PointsServer.Application/Synchronize/**/*.cs
          ,**/src/PointsServer.Application.Contracts/Synchronize/**/*.cs
          ,**/src/PointsServer.Domain/Data/*.cs
          ,**/src/PointsServer.Domain/Entities/*.cs
          ,**/src/PointsServer.Domain/OpenIddict/*.cs
          ,**/src/PointsServer.EntityEventHandler.Core/NFTSynchronizeHandler.cs
          ,**/src/PointsServer.Grains/Grain/ApplicationHandler/*.cs
          ,**/src/PointsServer.Grains/Grain/Synchronize/*.cs
          ,**/src/PointsServer.Grains/Grain/State/Synchronize/*.cs
          ,**/src/PointsServer.Application/ListingTokenOrderOptions.cs
          ,**/src/PointsServer.Application/AdminAccountOptions.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoExtension.cs
          ,**/src/PointsServer.Domain/Market/Index/NFTCollectionPurchaseTokenIndex.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTCollectionIndex.cs
          ,**/src/PointsServer.Application/Common/GraphQLHelper.cs
          ,**/src/PointsServer.Domain/Market/NFTOffer.cs
          ,**/src/PointsServer.Application/Chains/AElfClientFactory.cs
          ,**/src/PointsServer.Application/NFT/NFTTypeAppService.cs
          ,**/src/PointsServer.Domain/Market/NFTCollectionPurchaseTokenBase.cs
          ,**/src/PointsServer.Application/Chains/DefaultBlockchainClientProviderFactory.cs
          ,**/src/PointsServer.Domain/Settings/PointsServerSettingDefinitionProvider.cs
          ,**/src/PointsServer.Domain/Market/Index/NFTListingIndex.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTInfoMinterIndex.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMinterWhiteListBase.cs
          ,**/src/PointsServer.Application/*.cs
          ,**/src/PointsServer.Domain/NFT/NFTTypeBase.cs
          ,**/src/PointsServer.Application.Contracts/**/*.cs
          ,**/src/PointsServer.Domain/Market/**/*.cs
          ,**/src/PointsServer.Domain/Users/UserBalance.cs
          ,**/src/PointsServer.Domain/Market/*.cs
          ,**/src/PointsServer.Application/NFT/NFTInfoMinterAppService.cs
          ,**/src/PointsServer.Application/ApiOptions.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMinterBase.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTCollectionImmutable.cs
          ,**/src/PointsServer.Domain/Market/NFTListingWhitelistPriceBase.cs
          ,**/src/PointsServer.Application/IFileProvider.cs
          ,**/src/PointsServer.Application.Contracts/NFT/NFTInfoMinterWhiteListIndexDto.cs
          ,**/src/PointsServer.Domain/NFT/NFTCollectionBase.cs
          ,**/src/PointsServer.Domain/NFT/MetadataBase.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTInfoMinterWhiteListIndex.cs
          ,**/src/PointsServer.Domain/NFT/NFTCollectionMetadata.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfo.cs
          ,**/src/PointsServer.Application/IAdminAccountProvider.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTInfoImmutable.cs
          ,**/src/PointsServer.Application/Market/*.cs
          ,**/src/PointsServer.Domain/Tokens/Token.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTInfoIndex.cs
          ,**/src/PointsServer.Domain/Users/UserBalanceBase.cs
          ,**/src/PointsServer.Domain/Entities/*.cs
          ,**/src/PointsServer.Domain/Market/Index/NFTListingWhitelistPriceIndex.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoBase.cs
          ,**/src/PointsServer.Domain/NFT/NFTActivity.cs
          ,**/src/PointsServer.Domain/Entities/ES/UserInformationIndex.cs
          ,**/src/PointsServer.AuthServer/*.cs
          ,**/src/PointsServer.AuthServer/**/*.cs
          ,**/src/PointsServer.Domain/Entities/ES/PointsServerEsEntity.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMinterWhiteList.cs
          ,**/src/PointsServer.Domain/NFT/NFTActivityBase.cs
          ,**/src/PointsServer.Application/Market/PriceTagInfoProvider.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMinter.cs
          ,**/src/PointsServer.Application.Contracts/Market/GetNFTWhitelistPriceListInput.cs
          ,**/src/PointsServer.Application.Contracts/Badges/AddBadgeInput.cs
          ,**/src/PointsServer.Application/ContractAddressOptions.cs
          ,**/src/PointsServer.Application/Chains/*.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMetadata.cs
          ,**/src/PointsServer.Domain/NFT/NFTCollectionExtension.cs
          ,**/src/PointsServer.Application.Contracts/Market/*.cs
          ,**/src/PointsServer.Domain/NFT/NFTTypeBase.cs
          ,**/src/PointsServer.Application/GraphQLHelper.cs
          ,**/src/PointsServer.Application/BlobOptions.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoMinterWhiteListBase.cs
          ,**/src/PointsServer.Application.Contracts/Badges/GetBadgesInput.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTInfoMinterIndex.cs
          ,**/src/PointsServer.Domain/Market/Index/NFTListingIndex.cs,
          ,**/src/PointsServer.Domain/Settings/*.cs
          ,**/src/PointsServer.Application/Chains/*.cs
          ,**/src/PointsServer.Application/NFT/NFTTypeAppService.cs
          ,**/src/PointsServer.Domain/Market/*.cs
          ,**/src/PointsServer.Application/Common/GraphQLHelper.cs
          ,**/src/PointsServer.Domain/NFT/Index/NFTCollectionIndex.cs
          ,**/src/PointsServer.Domain/Market/Index/NFTCollectionPurchaseTokenIndex.cs
          ,**/src/PointsServer.Domain/NFT/NFTInfoExtension.cs
          ,**/src/PointsServer.Application/AdminAccountOptions.cs
          ,**/src/PointsServer.Application/ListingTokenOrderOptions.cs
          ,**/src/PointsServer.AuthServer/Pages/Index.cshtml
          ,**/src/PointsServer.Application/Provider/GraphQLOptions.cs
          ,**/src/PointsServer.Application/Options/TransactionFeeOption.cs
          ,**/src/PointsServer.Application/Provider/ConfirmedBlockHeightRecord.cs
          ,**/src/PointsServer.Dealer/Options/WorkerOption.cs
          ,**/src/PointsServer.Dealer/Options/CacheOptions.cs
          ,**/src/PointsServer.Application/OwnerShip/Handler/SetIssueAddressEvent.cs
          ,**/src/PointsServer.Dealer/ApolloConfigurationExtension.cs
          ,**/src/PointsServer.Application/RemoteClient/EthApiGetContractCreationDto.cs
          ,**/src/PointsServer.Application/RemoteClient/EthClient.cs
          ,**/src/PointsServer.Dealer/PointsServerHostedService.cs
          ,**/src/PointsServer.Application/OwnerShip/Handler/SetIssueAddressEventHandler.cs
          ,**/src/PointsServer.Dealer/InitJobsService.cs
          ,**/src/PointsServer.Application/Seed/UniqueSeedPriceRuleScheduleService.cs
          ,**/src/PointsServer.Application/Seed/RegularSeedPriceRuleScheduleService.cs
          ,**/src/PointsServer.Application/Seed/TsmSeedMainChainScheduleService.cs
          ,**/src/PointsServer.Application/Seed/TsmSeedSideChainScheduleService.cs
          ,**/src/PointsServer.Application/Bid/AuctionScheduleService.cs
          ,**/src/PointsServer.Application/File/SymbolIconAppService.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionPriceScheduleService.cs
          ,**/src/PointsServer.Application/OwnerShip/Verify/EthOwnerShipVerify.cs
          ,**/src/PointsServer.Dealer/Program.cs
          ,**/src/PointsServer.Application/Seed/SeedIconScheduleService.cs
          ,**/src/PointsServer.Application/Bid/BidScheduleService.cs
          ,**/src/PointsServer.Application/Seed/SeedMainChainCreateScheduleService.cs
          ,**/src/PointsServer.Application/Seed/Provider/TsmSeedProvider.cs
          ,**/src/PointsServer.Application/Order/PortkeyClientProvider.cs
          ,**/src/PointsServer.Dealer/PointsServerDealerModule.cs
          ,**/src/PointsServer.Application/Seed/SeedPriceAppService.cs
          ,**/src/PointsServer.Application/OwnerShip/VerifyAppService.cs
          ,**/src/PointsServer.Application/NFT/Provider/SeedInfoProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTInfoProvider.cs
          ,**/src/PointsServer.Application/Seed/SeedAppService.cs
          ,**/src/PointsServer.Application/Seed/Provider/SeedProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTCollectionExtensionProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTCollectionProvider.cs
          ,**/src/PointsServer.Application/Common/Chains/ChainAppService.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionAppService.cs
          ,**/src/PointsServer.Application/SymbolMarketToken/SymbolMarketTokenAppService.cs
          ,**/src/PointsServer.Application/Users/Provider/UserInformationProvider.cs
          ,**/src/PointsServer.Application/NFT/SymbolHelper.cs
          ,**/src/PointsServer.Application/SymbolMarketToken/Provider/SymbolMarketTokenProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTInfoProvider.cs
          ,**//src/PointsServer.Application/Bid/BidAppService.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTCollectionExtensionProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTInfoProvider.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTCollectionProvider.cs
          ,**/src/PointsServer.Application/Common/NFTHelper.cs
          ,**/src/PointsServer.Application/SymbolMarketToken/SymbolMarketTokenAppService.cs
          ,**/src/PointsServer.Application/NFT/Provider/NFTOfferProvider.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionAppService.cs
          ,**/src/PointsServer.Dealer/Options/ChainOption.cs
          ,**/src/PointsServer.Application/Options/PortkeyOption.cs
          ,**/src/PointsServer.Application/Common/ChainIdHelper.cs
          ,**/src/PointsServer.Application/Activity/ActivityAppService.cs
          ,**/src/PointsServer.Application/Bid/SymbolAutoClaimService.cs
          ,**/src/PointsServer.Dealer/Provider/AElfClientProvider.cs
          ,**/src/PointsServer.Application/NFT/NFTActivityAppService.cs
          ,**/src/PointsServer.Dealer/Handler/ContractInvokeHandler.cs
          ,**/src/PointsServer.Application/Order/OrderAppService.cs
          ,**/src/PointsServer.Application/AwsS3/AwsS3Client.cs
          ,**/src/PointsServer.Application/NFT/NFTInfoAppService.cs
          ,**/src/PointsServer.Application/Bid/BidAppService.cs
          ,**/src/PointsServer.Dealer/Handler/ContractInvokeChangedHandler.cs
          ,**/src/PointsServer.Dealer/Worker/ContractInvokerWorker.cs
          ,**/src/PointsServer.Application/Icon/SymbolIconProvider.cs
          ,**/src/PointsServer.Application/Dealer/ContractInvoker/CreateSeedContractInvoker.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionStatisticalDataScheduleService.cs
          ,**/src/PointsServer.Application/Icon/SymbolIconProvider.cs
          ,**/src/PointsServer.Application/Order/PayCallbackAppService.cs
          ,**/src/PointsServer.Application/Dealer/ContractInvoker/AbstractContractInvoker.cs
          ,**/src/PointsServer.Application/Tokens/TokenAppService.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionStatisticalDataScheduleService.cs
          ,**/src/PointsServer.Application/Order/Handler/CreateSeedResultEventHandler.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionStatisticalDataScheduleService.cs
          ,**/src/PointsServer.Application/NFT/NFTCollectionChangeService.cs
          ,**/src/PointsServer.Application/Dealer/ContractInvoker/AuctionAutoClaimInvoker.cs
          ,**/src/PointsServer.Application/Helper/SignatureHelper.cs
          ,**/src/PointsServer.Application/Dealer/Provider/ContractInvokeProvider.cs
          ,**/src/PointsServer.Dealer/Provider/ContractProvider.cs
          ,**/src/PointsServer.Grains/Grain/Order/NFTOrderGrain.cs
          ,**/src/PointsServer.EntityEventHandler.Core/Order/NFTOrderIndexHandler.cs
          ,**/src/PointsServer.Application/Users/UserAppService.cs
          ,**/src/PointsServer.Grains/Grain/**/**/**.cs
          ,**/src/PointsServer.Grains/Grain/**/**/**/**.cs

          
          </ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>    
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>